.description-brand .item{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
}

.description-brand .item::marker{
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}