* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --blue: #0a90eb;
    --border-gray: #ccc;
    --green-btn: #5AAF41;
    --white: #fff;
    --border-bs-color: 1px solid rgba(0, 0, 0, 0.175);
} 

.header-item {
    display: flex;
    gap: 30px;
}

.header-item ul {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.header-item ul li {
    display: flex;
    gap: 10px;
    align-items: center;
    border: 1px solid var(--border-gray);
    padding: 5px 10px;
    font-size: 13px;
    border-radius: 5px;
    cursor: pointer;
}

/* Tree */
.modal-content {
    height: 90vh;
    overflow: hidden;
}

.modal-body {
    padding: 0;
    
}

.border-right {
    border-right: 1px solid rgba(0, 0, 0, 0.175);
    height: 90vh;
}

.file-tree {
    /* padding: 0 0 16px 16px; */
}

.scrollable {
    height: 79vh;
    overflow-y: scroll;
}

.scrollable::-webkit-scrollbar {
    width: 5px; /* Chiều rộng thanh cuộn */
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: darkgrey; /* Màu của thanh cuộn */
    border-radius: 10px;
}

.scrollable::-webkit-scrollbar-track {
    background: #f1f1f1; /* Màu nền của thanh cuộn */
}

.file-tree ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.file-tree .nested {
    display: none;
}

.file-tree .folder {
    cursor: pointer;
}

.file-tree ul li #ic-folder {
    margin-right: 10px;
    color: var(--blue);
}

.file-tree .file {
    cursor: default;
}

.folder-item {
    position: relative;
}

.file-tree .folder-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.folder-name[aria-level="2"] {
    padding-left: 15px;
}

.folder-name[aria-level="3"] {
    padding-left: 23px;
}

.folder-name[aria-level="4"] {
    padding-left: 31px;
}

.folder-name[aria-level="5"] {
    padding-left: 40px;
}

.folder-name {
    padding: 8px 7px 8px 7px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.175);
}

.folder-name.active {
    background-color: rgba(10, 144, 235, 0.2);
}

.folder-name:hover {
    background-color: rgba(104, 222, 255, 0.2);
}

/* Images Container */
.image-container {
    padding: 6px 16px 0px 0;
    position: relative;
    height: 75vh;
    overflow-y: scroll;
}
.image-item {
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 16px;
    position: relative;
}

.image-item--active{
    border: 1px solid #0a90eb;
}

.image-item .image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-item:hover .image img {
    transform: scale(1.1);
}

.image-item .image img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    transition: all 0.2s ease-out;
}

.image-item .image-content {
    padding: 10px;
    font-size: 13px;
}

.image-item .image-content .image-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.image-item .image-content .image-date,
.image-item .image-content .image-amount {
    color: #687982;
    font-size: 11px;
}

/* Confirm modal */
.confirm-popup, .file-name-popup {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51, 51, 51, 0.4);
}

.confirm-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-20%, -60%);
    background: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.45);
    border-radius: 10px;
    padding: 20px 70px;
}

.confirm-box-img {
    width: 40px;
    align-items: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 7px;
}

.confirm-box .confirm-title,
.file-name-box .title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

.confirm-box .confirm-button {
    display: flex;
    justify-content: center;
    gap: 10%;
}

.preview-file-box {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.preview-file {
    height: 90px;
    padding: 5px;
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;
}

.file-info {
    margin-bottom: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #ddd;
}

.file-info p{
    margin-bottom: 5px;
    font-size: 12px;
    border-bottom: 1px solid #ddd;
}

/* Button confirm */
.confirm-box .btnc {
    border: none;
    width: 100px;
    padding: 7px 20px;
    border-radius: 7px;
}

.confirm-box .btnc-yes,
.file-name-button .btn-yes {
    background-color: var(--green-btn);
    color: var(--white);
}

.confirm-box .btnc-yes:hover,
.file-name-button .btn-yes:hover {
    background-color: #509d3a;
}

.confirm-box .btnc-no:hover {
    background-color: #dcdbdb;
}

.file-name-box {
    position: absolute;
    width: 350px;
    height: 180px;
    left: 50%;
    top: 50%;
    transform: translate(-20%, -80%);
    background: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.45);
    border-radius: 10px;
    padding: 10px;
}

.file-name-box .title{
    border-bottom: 1px solid var(--border-gray);
    padding-bottom: 8px;
}

.file-name-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.file-name-input label {
    font-size: 14px;
}

.file-name-input input {
    font-size: 14px;
    border: var(--border-bs-color);
    padding: 5px;
}

.file-name-button {
    display: flex;
    justify-content: end;
    gap: 10px
}

.file-name-button .btn{
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 13px;
    width: 50px;
}


.file-name-button .btn-no:hover{
    background: #dcdbdb;
}

/* Menu of file */
.menu-box {
    background-color: #eee;
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    z-index: 9999;
    box-shadow: 0 0 5px #ccc;
}

.menu-box ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-box .menu-item:hover{
    background-color: #e0dfdf;
}

.menu-box .menu-item:hover .item-icon{
    background-color: #b5b5b5;
}

.menu-box .menu-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    font-size: 13px;
    cursor: pointer;
}

.menu-box .menu-item .item-icon{
    background-color: #dedede;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Folder empty */
.folder-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.folder-empty .folder-empty-image {
    width: 80px;
    padding-bottom: 10px;
    animation: float 2s ease-in-out infinite;
}

.folder-empty h3 {
    font-size: 17px;
    font-weight: 500;
}

.btn-accept-file {
    display: none;
    position: absolute;
    right: 60px;
    font-size: 13px;
    background-color: #0d6efd;
    border-radius: 5px;
    padding: 7px 15px;
    border: none;
    color: #fff;
}

.btn-accept-file:hover {
    background-color: #0b5fde;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(-10px);
    }
}

