@font-face {
    font-family: 'Righteous';
    src: url('../gg-fonts/Righteous-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../gg-fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ribeye Marrow';
    src: url('../gg-fonts/RibeyeMarrow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rock Salt';
    src: url('../gg-fonts/RockSalt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ADLaM Display';
    src: url('../gg-fonts/ADLaMDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aladin';
    src: url('../gg-fonts/Aladin-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

input::placeholder {
    font-weight: bold;
}

body {
    width: 100%;
    position: relative;
    background: #fff;
}

.btn-primary {
    background: linear-gradient(135deg, #F45B3A, #F9A23B, #B56BB3, #6A6FF5) !important;
    border: none;
}

.btn-primary:hover {
    background: none !important;
    color: #000000;
}

.page-item.active .page-link {
    background: linear-gradient(135deg, #F45B3A, #F9A23B, #B56BB3, #6A6FF5) !important;
}

.note {
    background-color: #fff8dc;
    border-left: 4px solid #f0ad4e;
    padding: 10px 15px;
    font-size: 14px;
    color: #555;
    border-radius: 4px;
    font-style: italic;
    font-weight: bold;
}