.topbar {
    display: none;
}

@media (max-width: 500px) {
    .topbar-sm {
        display: none !important;
    }
}

.footer {
    display: none;
}

.intro-page {
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.left-panel {
    width: 50%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-panel {
    width: 50%;
    position: relative;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.526);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    font-family: Righteous, Sans-serif;
    height: 100vh;
}

.right-panel .back{
    color: #f0f4f6;
    font-size: 25px;
    text-align: center;
    position: absolute;
    top: 3%;
    left: 3%;
    border-radius: 50%;
    padding: 5px;
    transition: all 0.5s;
}

.right-panel .back:hover{
    color: #333;
}

.right-panel .title{
    color: #fff;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 9%;
}

/* Responsive styles */
@media (max-width: 768px) {
    .intro-page {
        flex-direction: column;
        height: max-content;
        padding-bottom: 30px;
    }
    .left-panel{
        width: 100%;
        height: 50vh;
    }
    .right-panel {
        width: 100%;
        height: max-content;
        flex-direction: row;
    }
}

/* carousel css */
.carousel-custom{
    max-width: 500px !important;
}

.carousel-custom-item img {
    width: 500px !important;
}

.carousel-custom-item{
    margin-right: 0 !important;
}

.carousel-custom-button {
    display: none;
}

.pagination-dot{
    background-color: #111 !important;
}