.list-post{
    padding-top: 130px;
    height: 100%;
}

.list-post .empty-list{
    text-align: center;
}

.list-post .empty-list img{
    width: 100%;
    height: auto;
    transform: translateX(3%);
}

.list-post .title{
    background-color: #f5f5f5;
    width: 100%;
    padding: 20px 0 20px 0;
}

.list-post .title .path{
    justify-content: end;
    display: flex;
    padding-top: 5px;
}

.list-post .title .path a{
    padding: 0 5px 0 5px;
    text-decoration: none;
    color: black;
    font-size: 0.9em;
}

.list-post .title .path a:hover{
    color: #6EC1E4;
}

.list-post .title .path .fa-chevron-right{
    padding-top: 7px;
    font-size: 0.6em;
}

.list-post .post-card {
    margin-bottom: 20px;
    transition: transform 0.2s, box-shadow 0.2s;
    opacity: 0; /* Khởi tạo độ trong suốt */
    transform: translateY(-20px); /* Đẩy lên trên */
    animation: fadeIn 2s forwards; /* Thêm hiệu ứng xuất hiện */
    background: none;
}

.list-post .post-card:hover .card{
    transform: translateY(-10px); /* Đẩy lên khi hover */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Hiệu ứng đổ bóng */
    transition: all 0.5s;
}

.list-post .post-card .card-body .author,.release{
    font-size: 0.8em;
}

.list-post .post-card .card-body i{
    margin-right: 5px;
}

.list-post .post-card .btn{
    margin: 10px;
}


@keyframes fadeIn {
    to {
        opacity: 1; /* Độ trong suốt hoàn toàn */
        transform: translateY(0); /* Về vị trí ban đầu */
    }
}

.list-post .post-card.show {
    opacity: 1; /* Hiện sản phẩm */
}
.list-post .post-title {
    font-size: 1.25rem;
}
.list-post .card-img-top {
    height: 200px; /* Đặt chiều cao hình ảnh */
    object-fit: cover; /* Đảm bảo hình ảnh không bị méo */
    transition: transform 0.2s; /* Hiệu ứng cho hình ảnh */
}
.list-post .card-img-top:hover {
    transform: scale(1.05); /* Phóng to hình ảnh khi hover */
}
.list-post .pagination {
    justify-content: center;
}

.list-post .empty-list{
    text-align: center;
}

@media (max-width: 769px) {
    .list-post .title .path {
        justify-content: start;
    }
}

@media (max-width: 500px) {
    .list-post{
        padding-top: 60px;
    }
}