.post-detail{
    padding-top: 150px;
    height: 100%;
}

.post-detail .title{
    background-color: #f5f5f5;
    width: 100%;
    padding: 20px 0 20px 0;
}

.post-detail .title .path{
    justify-content: end;
    display: flex;
    padding-top: 5px;
}

.post-detail .title .path a{
    padding: 0 5px 0 5px;
    text-decoration: none;
    color: black;
    font-size: 0.9em;
}

.post-detail .title .path a:hover{
    color: #6EC1E4;
}

.post-detail .title .path .fa-chevron-right{
    padding-top: 7px;
    font-size: 0.6em;
}

.post-detail .card {
    border: none;
    border-radius: 8px;
}

.post-detail .card-img-top {
    background-size: cover;
    border-radius: 8px 8px 0 0;
}

.post-detail .comments-section {
    margin-top: 30px;
}

.post-detail .comments-section .card {
    background-color: #e9ecef;
    border-radius: 8px;
}

.post-detail .btn-primary, .btn-danger, .btn-success {
    border-radius: 5px;
}

.post-detail .form-control {
    border-radius: 20px;
}

.post-detail h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.post-detail h3 {
    margin-top: 20px;
}

.post-detail .post-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 769px) {
    .post-detail .title .path {
        justify-content: start;
    }
}

@media (max-width: 500px) {
    .post-detail{
        padding-top: 60px;
    }
}