 
  .card {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  }

  .card p {
    margin: 0;
  }
  
  .card .image img {
    max-width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .card .content {
    padding: 5px 10px;
  }
  
  .card.is-loading .image,
  .card.is-loading .item,
  .card.is-loading h2,
  .card.is-loading p {
    background: #eee;
    background: linear-gradient(110deg, #e7e7e7 8%, #f5f5f5 18%, #e7e7e7 33%);
    border-radius: 5px;
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
  }
  .card.is-loading .image {
    height: 150px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .card.is-loading .item {
    height: 30px; 
  }

  .card.is-loading h2 {
    height: 20px; 
  }

  
  .card.is-loading p {
    height: 33px;
  }

  .folder-loaidng .item {
    background: #eee;
    background: linear-gradient(110deg, #e7e7e7 8%, #f5f5f5 18%, #e7e7e7 33%);
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
  }

  .folder-loaidng .item {
    height: 40px; 
    border-bottom: 2px solid #fff;
  }
  
  @keyframes shine {
    to {
      background-position-x: -200%;
    }
  }
  