.wish-list{
    padding-top: 130px;
    height: 100%;
    animation: wfadeIn 1.5s ease-in-out;
}

.wish-list .user-noti{
    padding-top: 20px;
}

.wish-list .empty-list{
    text-align: center;
}

.wish-list .empty-list img{
    width: 40%;
    height: auto;
    transform: translateX(3%);
}
@keyframes wfadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.wish-list .wishlist-item:hover {
    transform: translateY(-2px) !important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

@keyframes wslideIn {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.wish-list .wishlist-banner {
    padding: 50px 0 75px;
    text-align: center;
    font-family: sans-serif;
    background-color: #f8f9fa;
}

.wish-list .wishlist-banner h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: Righteous;
}

.wish-list .breadcrumb {
    justify-content: center;
}

.wish-list .breadcrumb a {
    color: #495057;
    text-decoration: none;
}

.wish-list .breadcrumb span {
    color: #6c757d;
    margin: 0 5px;
}

.wish-list .wishlist-container {
    background-color: #f8f9fa;
    color: #343a40;
    border-radius: 10px;
}

.wish-list .wishlist-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #d2d2f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: wslideIn 0.8s ease forwards;
    transition: all 1s;
}

.wish-list .wishlist-item img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-right: 20px;
}

.wish-list .item-details {
    flex-grow: 1;
}

.wish-list .item-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.wish-list .item-action {
    display: flex;
    flex-direction: row;
}

.wish-list .item-action a,form{
    margin-right: 10px;
}

.wish-list .item-price {
    color: #57bf6d;
    font-weight: bold;
    margin-bottom: 10px;
}

.wish-list .item-price span{
    text-decoration: line-through;
    color: #a7a7a7;
}

.wish-list .see-more-btn {
    background-color: #e9ecef;
    color: #343a40;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.wish-list .see-more-btn:hover {
    background-color: #dee2e6;
}

.wish-list .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
}

.wish-list .icon-container {
    position: relative;
    display: inline-block;
}

.wish-list .icon-container .tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.wish-list .icon-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}


@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
    .wishlist-item {
        flex-direction: column;
        align-items: flex-start;
    }
    .wishlist-item img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        margin-right: 0;
    }

    .wish-list .empty-list{
        width: 100%;
    }

}

@media (max-width: 500px) {
    .wish-list{
        padding-top: 60px;
    }

    .wish-list .grid-container {
        display: flex;
        flex-direction: column;
    }
}
